version: "3.9"

networks:
  nubedb:
    external: false

services:
  bootstrap-node:
    image: narvikd/nubedb:latest
    hostname: bootstrap-node
    ports:
      - '3001:3001'
    volumes:
      - ./data:/app/data
    restart: on-failure
  node:
    image: narvikd/nubedb:latest
    volumes:
      - ./data:/app/data
    depends_on:
      - bootstrap-node
    restart: on-failure
    deploy:
      replicas: 24
